<main class="PageAdminArticlesIndex">
  <h1>Статьи недели <%= @week.number %></h1>

  <%= render 'shared/atoms/A_Button', text: 'Новая статья', href: new_admin_week_article_path(@week) %>

  <% pagination_info = @pagy.count > 0 ? "#{@pagy.from}-#{@pagy.to} из #{@pagy.count}" : nil %>
  <%= render 'shared/organisms/O_ControlPanelTable',
      title: 'Статьи',
      actions: pagination_info do %>
    <% if @articles.any? %>
      <%= render 'shared/collections/C_ControlPanelTableHeaderRow', cells: [
        '#',
        'Название',
        'Теги',
        'Действия'
      ] %>
      <% @articles.each do |article| %>
        <%= render 'shared/collections/C_ControlPanelTableRow', cells: [
          article.id,
          link_to(article.title, admin_week_article_path(@week, article)),
          Array(article.tags).join(', '),
          "#{link_to('Редактировать', edit_admin_week_article_path(@week, article))} | #{button_to('Удалить', admin_week_article_path(@week, article), method: :delete, form: { data: { turbo_confirm: 'Удалить эту статью?' }, style: 'display:inline', class: 'button-text-style text-p-2' })}".html_safe
        ] %>
      <% end %>
    <% else %>
      <p>Нет статей</p>
    <% end %>
  <% end %>

  <%= raw pagy_nav(@pagy) if @pagy.pages > 1 %>

  <%= link_to 'Назад к неделе', admin_week_path(@week) %>
</main>
