<% content_for :meta_title, @article.title %>
<% content_for :meta_description, (@article.description.presence || truncate(strip_tags(render_markdown(@article.body)), length: 160)) %>

<div class="PageArticle">
  <%= render 'shared/wrappers/W_PageHeader' do %>
    <div class="W_PageHeader-Inner">
      <%= render 'shared/molecules/M_ContentTimer', week: @week %>
    </div>
  <% end %>
  <main class="PageArticle-Content">
    <%= render 'articles/M_ArticleHeaderCard', article: @article %>
    <div class="PageArticle-Content-Body">
        <div class="PageArticle-Markdown">
          <%= render_markdown(@article.body) %>
        </div>
    </div>
  </main>

  <% random_interactive = random_pending_interactive(current_user, @article.interactives) %>
  <% if random_interactive %>
    <% interactive_url = interactive_path(random_interactive.key) %>
    <%= render 'shared/molecules/M_ToastInteractive',
               name: random_interactive.title,
               href: interactive_url %>
    <%= render 'shared/organisms/O_ModalInteractive',
               name: random_interactive.title,
               href: interactive_url %>
  <% end %>

  <% attached_interactives = @article.interactives.order(:difficulty, :title) %>
  <% if attached_interactives.any? %>
    <section class="PageArticle-AttachedInteractives">
      <h3 class="text-h4"><%= t('pages.article.attached_interactives_title') %></h3>
      <p class="text-p-3"><%= t('pages.article.attached_interactives_hint') %></p>
      <div class="PageArticle-AttachedInteractives-Cards">
        <% completed_keys = current_user&.interactive_completions&.pluck(:interactive_key).to_a.to_set || Set.new %>
        <% attached_interactives.each do |interactive| %>
          <% completed = completed_keys.include?(interactive.key) %>
          <%= link_to interactive_path(interactive.key),
                      class: "PageInteractives-Card #{'PageInteractives-Card--Completed' if completed}" do %>
            <span class="PageInteractives-Card-Title text-h4"><%= interactive.title %></span>
            <span class="PageInteractives-Card-Desc text-p-3"><%= interactive.description %></span>
            <span class="PageInteractives-Card-Meta text-caption">
              XP: <%= interactive.xp_reward %><% if completed %> · ✓ пройдено<% end %>
            </span>
          <% end %>
        <% end %>
      </div>
    </section>
  <% end %>
</div>
