<% content_for :meta_title, @article.title %>
<% content_for :meta_description, (@article.description.presence || truncate(strip_tags(render_markdown(@article.body)), length: 160)) %>

<div class="PageArticle">
  <%= render 'shared/wrappers/W_PageHeader' do %>
    <div class="W_PageHeader-Inner">
      <%= render 'shared/molecules/M_ContentTimer', week: @week %>
    </div>
  <% end %>
  <main class="PageArticle-Content">
    <%= render 'articles/M_ArticleHeaderCard', article: @article %>
    <div class="PageArticle-Content-Body">
        <div class="PageArticle-Markdown">
          <%= render_markdown(@article.body) %>
        </div>
    </div>
  </main>

  <%# === Рандомный интерактив: toast + overlay поверх страницы === %>
  <% random_interactive = random_pending_interactive(current_user, @article.interactives) %>
  <% interactive_session_data = prepare_interactive_session(current_user, random_interactive) %>
  <% if interactive_session_data %>
    <%= render 'shared/molecules/M_ToastInteractive',
               name: random_interactive.title %>
    <%= render 'shared/organisms/O_ModalInteractive',
               name: random_interactive.title %>
    <%= render 'shared/super_organisms/SO_InteractiveOverlay',
               data: interactive_session_data %>
  <% end %>
</div>
