<% header_controls = capture do %>
  <%= render 'shared/atoms/A_ControlButton', icon_name: 'Q_FullScreenIcon', aria_label: 'Сменить режим', class: 'W_ControlPanel-Header-Button W_ControlPanel-Header-Button--mode', data: { js_control_panel_mode: '', icon_url: asset_path('Q_FullScreenIcon.svg'), icon_alt_url: asset_path('Q_NotFullScreenIcon.svg') } %>
  <%= render 'shared/atoms/A_ControlButton', icon_name: 'Q_CloseIcon', aria_label: 'Закрыть', data: { js_console_close: '' } %>
<% end %>
<%= render layout: 'shared/wrappers/W_ControlPanel',
    locals: {
      state_key: 'o_audio_player_state',
      id: 'js-audio-player',
      icon_name: 'Q_AudioIcon',
      data: { js_audio_player: '' },
      body_fill: false,
      header_controls: header_controls
    } do %>
  <div class="O_AudioPlayer" data-js-audio-player-body>
    <audio data-js-audio-player-src preload="metadata" style="display: none;"></audio>
    <div class="O_AudioPlayer-PlayWrapper">
      <button type="button" class="O_AudioPlayer-Play" data-js-audio-player-play aria-label="Воспроизвести / пауза">
        <%= render 'shared/quarks/Q_ToggleIcon', primary: 'Q_PlayIcon', alt: 'Q_PauseIcon', size: 27 %>
      </button>
    </div>
    <%= render 'shared/molecules/M_ProgressRow', time_data_attr: 'js-audio-player' %>
    <div class="O_AudioPlayer-BottomRow">
      <div class="O_AudioPlayer-Controls">
        <button type="button" class="O_AudioPlayer-Ctrl" data-js-audio-prev aria-label="Предыдущий трек"><%= render 'shared/quarks/Q_Icon', name: 'Q_ArrowRightIcon', width: 20, height: 20 %></button>
        <button type="button" class="O_AudioPlayer-Ctrl" data-js-audio-next aria-label="Следующий трек"><%= render 'shared/quarks/Q_Icon', name: 'Q_ArrowRightIcon', width: 20, height: 20 %></button>
        <button type="button" class="O_AudioPlayer-Ctrl O_AudioPlayer-Ctrl--loop" data-js-audio-loop aria-label="Повтор трека" title="Повтор одного"><span class="O_AudioPlayer-LoopOne">1</span></button>
      </div>
      <div class="O_AudioPlayer-Volume" data-js-audio-player-volume aria-label="Громкость">
        <button type="button" class="O_AudioPlayer-VolumeIcon" data-js-audio-player-volume-toggle aria-label="Выключить / включить звук">
          <%= render 'shared/quarks/Q_ToggleIcon', primary: 'Q_AudioIcon', alt: 'Q_MuteIcon', size: 18 %>
        </button>
        <div class="O_AudioPlayer-VolumeSliderWrap">
          <%= render 'shared/molecules/M_VolumeSlider' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
