<%
  name = local_assigns[:name] || 'Интерактив обнаружен!'
  href = local_assigns[:href]
%>
<div class="O_ModalInteractive"
     style="display: none;"
     data-interactive-name="<%= name %>"
     <% if href.present? %>data-interactive-href="<%= href %>"<% end %>>
  <div class="O_ModalInteractive-Modal">
    <%= render 'shared/quarks/Q_Icon', name: 'Q_AsteriskIcon', width: 24, height: 24 %>
    <span class="O_ModalInteractive-Modal-Text text-p-1-mono"><%= name %></span>
    <div class="O_ModalInteractive-Modal-Buttons">
      <%= render 'shared/atoms/A_Button', text: 'Отмена' %>
      <% if href.present? %>
        <%= render 'shared/atoms/A_Button', href: href, text: 'Продолжить' %>
      <% else %>
        <%= render 'shared/atoms/A_Button', text: 'Продолжить' %>
      <% end %>
    </div>
  </div>
</div>
