<div class="W_Sidebar">
  <div class="W_Sidebar-Top">
      <div class="W_Sidebar-Top-Content">
          <%= render 'shared/atoms/A_Logo', name: 'A_Logo', size: 'Small' %>
          <% unless local_assigns[:skip_navigation] %>
            <% if local_assigns[:admin_navigation] %>
              <%= render 'shared/organisms/O_Navigation', admin_navigation: true %>
            <% else %>
              <%= render 'shared/organisms/O_Navigation' %>
            <% end %>
          <% end %>
          <% is_week_page = request.path.include?('/weeks/') && !request.path.include?('/articles/') && !request.path.include?('/admin/') %>
          <% if is_week_page %>
            <%= render 'shared/molecules/M_NavigationSwitcher' %>
          <% end %>
      </div>
  </div>
  <% unless local_assigns[:admin_navigation] %>
    <div class="W_Sidebar-Preview">
      <%= render 'weeks/O_ContentPreview' %>
      <div id="js-audio-player-template" style="display: none;" aria-hidden="true"><%= render 'shared/organisms/O_AudioPlayer' %></div>
      <div id="js-video-player-template" style="display: none;" aria-hidden="true"><%= render 'shared/organisms/O_VideoPlayer' %></div>
    </div>
  <% end %>
  <% if local_assigns[:admin_navigation] %>
      <%= render 'shared/atoms/A_Button', text: 'На главную', href: root_path %>
  <% end %>
</div>