<main class="PageAdminWeeksShow">
  <h1>Неделя <%= @week.number %>: <%= @week.title %></h1>

  <%= render 'shared/organisms/O_ControlPanelTable',
      title: 'Информация о неделе' do %>
    <%= render 'shared/collections/C_ControlPanelTableHeaderRow', cells: [
      '#',
      'Название',
      'Действия'
    ] %>
    <%= render 'shared/collections/C_ControlPanelTableRow', cells: [
      @week.number,
      @week.title,
      "#{link_to('Редактировать', edit_admin_week_path(@week))} | #{link_to('Статьи', admin_week_articles_path(@week))} | #{link_to('Контент', admin_week_content_items_path(@week))} | #{button_to('Удалить', admin_week_path(@week), method: :delete, form: { data: { turbo_confirm: 'Точно удалить неделю?' }, style: 'display:inline', class: 'button-text-style text-p-2' })}".html_safe
    ] %>
  <% end %>

  <%= link_to 'Назад', admin_weeks_path %>
</main>

