<!DOCTYPE html>
<html>
  <head>
    <title>Админка</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag '/favicons/favicon.ico' %>
    <%= favicon_link_tag '/favicons/favicon.svg', rel: 'icon', type: 'image/svg+xml' %>
    <%= favicon_link_tag '/favicons/favicon-96x96.png', rel: 'icon', type: 'image/png', sizes: '96x96' %>
    <%= tag.link rel: 'apple-touch-icon', href: '/favicons/apple-touch-icon.png', sizes: '180x180' %>
    <%= tag.link rel: 'manifest', href: '/favicons/site.webmanifest' %>
  </head>
  <body>
    <div class="PageLayout">
      <%= render 'shared/wrappers/W_Sidebar', admin_navigation: true %>
      <%= yield %>
      <% if flash[:notice] %>
        <%= render 'shared/molecules/M_ToastNotification', text: flash[:notice] %>
      <% end %>
      <% if flash[:alert] %>
        <%= render 'shared/molecules/M_ToastNotification', text: flash[:alert], type: 'error' %>
      <% end %>
    </div>
  </body>
</html>
